.Detail-table{
    border-collapse: separate;
    border-spacing: 30px;
    *border-collapse: expression('separate', cellSpacing='10px');
    margin-top: 100px;
    margin-left: 40px;
    
    
    
}
.table-row{
    
    margin: 12px;
    padding:12px;
   
}