
  .list_box{
    width: 65vw;
    margin-left: 20px;
    background-color: white;
    box-shadow: 9px 10px 14px 0px rgba(0, 0, 0, 0.28);
    padding: 20px;
    border-radius: 10px;
  }

.Clickable{
    min-width: 100%;
    max-height: 20vh;
    background-color: rgba(210, 211, 231, 0.89);
    box-shadow: 9px 10px 14px 0px rgba(0, 0, 0, 0.28);
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Flight_Heading{
    color:#51459b; 
}
.border{
    border-color: rgba(195, 212, 235, 0.89);
    
}
.duration-offer{
    border-bottom: 2px solid #fbb03b;
}
.col-wrapper *{
    margin:3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-row{
    height: 12vh;
    background-color: rgba(210, 211, 231, 0.89);
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.28);
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
